:root {
  font-size: 16px;
}
body {
  background-color: #121215;

  color: #eaeaea;

  font-family: 'Roboto', sans-serif;

  display: grid;
  grid-template-areas: 'main timeline';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh;
}

nav {
  padding: 64px;
  grid-area: timeline;

  overflow-y: scroll;

  animation: entering 0.7s ease-in-out;
}

.events {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 64px;
}

.events small {
  color: #bebebf;
  font-size: 0.75rem;
}

.events h1 {
  font-size: 2rem;
}

.events img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.events figure {
  width: 100%;
  height: 280px;
  overflow: hidden;
  border-radius: 8px;
}

.events img:hover {
  transform: scale(1.3);
}

.events p {
  font-size: 1.2rem;
  color: #bebebf;
  line-height: 28px;
}

main {
  grid-area: main;
  display: grid;
  grid-template-areas:
    'aside'
    'footer';
  grid-template-rows: 80vh 20vh;

  border-right: 1px solid;
  border-image: linear-gradient(#727275, #2c2c31) 1;

  background-image: url('../assets/background.svg');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

aside {
  grid-area: aside;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

aside * {
  animation: entering 0.7s ease-in-out;
}

aside img:nth-child(2) {
  width: 160px;
  height: 160px;
  object-fit: cover;
  object-position: 20% 40%;
  border-radius: 50%;

  border: 4px solid transparent;
  background: linear-gradient(#d39e33, #ed5636, #633bbc) padding-box,
    linear-gradient(260deg, #d39e33, #ed5636, #633bbc) border-box;
}

aside p {
  font-size: 2rem;
  text-align: center;
}

footer {
  grid-area: footer;
  padding: 25px;
}

.container {
  display: flex;
  gap: 14px;
  margin-top: 8px;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer i {
  font-size: 30px;
  background: linear-gradient(to left, #d39e33, #ed5636, #633bbc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*--------------------- Responsividade ------------------------*/
@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.8fr;
    grid-template-areas:
      'main'
      'timeline';
  }

  main {
    grid-template-rows: 45vh 10vh;
    border-right: none;
    padding: 32px 12px;
  }

  nav {
    overflow-y: visible;
    padding: 22px;
  }
}
